RewriteEngine On
RewriteBase /graph-algorithms/

# Set managed languages here, except default (de)
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^spp-a-star/?$ spp-a-star/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^spp-bellman-ford/?$ spp-bellman-ford/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^spp-dijkstra/?$ spp-dijkstra/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^spp-floyd-warshall/?$ spp-floyd-warshall/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^matchings-hopcroft-karp/?$ matchings-hopcroft-karp/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^matchings-hungarian-method/?$ matchings-hungarian-method/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^matchings-blossom-algorithm/?$ matchings-blossom-algorithm/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^mst-kruskal/?$ mst-kruskal/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^mst-prim/?$ mst-prim/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^hierholzer/?$ hierholzer/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^directed-chinese-postman/?$ directed-chinese-postman/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^flow-cycle-cancelling/?$ flow-cycle-cancelling/index_en.html [R=temp,L]
RewriteCond %{HTTP:Accept-Language} ^(en).*$ [NC]
RewriteRule ^flow-ford-fulkerson/?$ flow-ford-fulkerson/index_en.html [R=temp,L]
# Rewrite Rules for de (default)
RewriteRule ^(index\.html?)?$ /Allgemeines/Softwarebibliothek [R=temp,L]
RewriteRule ^spp-a-star/?$ spp-a-star/index_de.html [R=temp,L]
RewriteRule ^spp-bellman-ford/?$ spp-bellman-ford/index_de.html [R=temp,L]
RewriteRule ^spp-dijkstra/?$ spp-dijkstra/index_de.html [R=temp,L]
RewriteRule ^spp-floyd-warshall/?$ spp-floyd-warshall/index_de.html [R=temp,L]
RewriteRule ^matchings-hopcroft-karp/?$ matchings-hopcroft-karp/index_de.html [R=temp,L]
RewriteRule ^matchings-hungarian-method/?$ matchings-hungarian-method/index_de.html [R=temp,L]
RewriteRule ^matchings-blossom-algorithm/?$ matchings-blossom-algorithm/index_de.html [R=temp,L]
RewriteRule ^mst-kruskal/?$ mst-kruskal/index_de.html [R=temp,L]
RewriteRule ^mst-prim/?$ mst-prim/index_de.html [R=temp,L]
RewriteRule ^hierholzer/?$ hierholzer/index_de.html [R=temp,L]
RewriteRule ^directed-chinese-postman/?$ directed-chinese-postman/index_de.html [R=temp,L]
RewriteRule ^flow-cycle-cancelling/?$ flow-cycle-cancelling/index_de.html [R=temp,L]
RewriteRule ^flow-ford-fulkerson/?$ flow-ford-fulkerson/index_de.html [R=temp,L]